.wrapper{
    max-width: 745px;
    width: 100%;
    background:white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}
.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form{
    width: 100%;
}
.wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.wrapper .form .input_field label{
    width: 200px;
    color: black;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}
.wrapper .form .input_field .input1,
.wrapper .form .input_field .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.wrapper .form .input_field .textarea{
    resize: none;
    height: 125px;
}
.wrapper .form .input_field .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}
.wrapper .form .input_field .custom_select select{
    -webkit-appearance:none;
    appearance: none;
    border: 1px solid #d5dbd9;
    width: 100%;
    height: 100%;
    /*padding: 8px 10px;*/
    border-radius: 3px;
    outline: none;
}
.wrapper .form .input_field .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}
.wrapper .form .input_field .input1:focus,
.wrapper .form .input_field .textarea:focus,
.wrapper .form .input_field select:focus{
    border: 1px solid #FF002B;
}
.wrapper .form .input_field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #FF002B;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}
.wrapper .form .input_field:last-child{
    margin-bottom: 0;
}
.wrapper .form .input_field .btn:hover{
    background: #B3001E;
}
@media(max-width:420px){
    .wrapper .form .input_field{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .input_field label{
        margin-bottom: 5px;
    }
}


/*Header Page Css*/
#profile_icon:hover{
    cursor: pointer;
}
.sublist1{
    position: absolute;
    right: 25px;
    border-radius: 3px;
    width: 180px;
    display: none;
    background:#fff;
    margin-top: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}
.sublist1 ul{
    /*display: block;*/
    margin: 10px;
}
.sublist1 ul li{
    width: 100%;
    padding: 5px;
    border-bottom: 1px dotted #0f0f0f;
    background:transparent;
    border-radius: 0;
    text-align: left;
    font-size: 15px;
    list-style-type: none;
}
.sublist1 ul li a{
    color: black;
    text-decoration: none;
}
.sublist1 ul li:last-child{
    border-bottom: none;
}
