.shopping-cart {
  width: 1100px;
  margin: 10px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.heading {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: black;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  width: 100%;
  padding: 20px 30px;
  
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
/*.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
}
 
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url('https://fontawesome.com/v4.7/icon/heart-o');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}*/
.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}
.image99 {
  margin-right: 50px;
  margin-top: 20px;
}
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 150px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: black;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: black;
}
.quantity {
  /*padding-top: 20px;*/
  margin-right: 30px;
}
.quantity label{
  font-size: 15px;
  margin-top: 5px;
}
.quantity form label{
  font-size: 15px;
  font-weight: 500;
}
.quantity form select {
  width: 60px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  margin-top: -20px;
  
}
.quantity form select:focus{
  border: 1px solid #FF002B;
}
/*button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin:auto;
}
.plus-btn img {
  margin: auto;
}
 
button:focus,
input:focus {
  outline:0;
}*/
.total-price {
  width: 100px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.cart-total{
  width: 100%;
  /*background-color: #ec0038;*/
  color: #ec0038;
  padding: 10px;
  text-align: right;
  font-weight: 600;
  border-radius: 0px 0px 5px 5px;
  border-top:2px solid #ec0038 ;;
}
.last-div{
  width: 100%;
  padding: 10px;
}
.place-btn{
  width:100%;
  background-color:#ec0038;
  color:white;
  border:none;
  font-weight:500;
  text-align:center;
  text-decoration:none;
}
.last-box{
  width: 90px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image99 img {
    width: 50%;
  }
  .image99,
  .quantity,.quantity form label,.quantity form select,
  .quantity label,.quantity select,.total-price,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
.notification{
  width: 70px;
  height: 50px; 
  position: relative;
  display: flex; 
}
.carticon{
	position:absolute;
	margin-top:10px;
	margin-left:10px;
}
.count{
  width: 25px;
  height: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: #ec0038;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  z-index: 2;
}
