@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



/*
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: geometricPrecision;
    text-transform: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}
* {
  box-sizing: border-box;
}
	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		font-family: 'Montserrat', sans-serif;
		background-color: #fff;
		font-size: 16px;
		color: #343434;
		font-weight: 400;
		line-height: 1.9em;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	input, select, textarea {
		font-family: 'Montserrat', sans-serif;
		font-size: 13pt;
		color: #696969;
		font-weight: 300;
		line-height: 2.25em;
	}

	a {
		color: #0090c5;
		text-decoration: none;
	}

		a:hover {
			text-decoration: underline;
		}

	h1, h2, h3, h4, h5, h6 {
		color: #343434;
		font-weight: 600;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
			outline: 0;
		}
	h1 {
		font-size: 2.5em;
		margin: 0 0 0.8em 0;
		line-height: 1em;
	}

	h2 {
		font-size: 2.25em;
		margin: 0 0 1.1em 0;
		line-height: 1em;
	}

	h3 {
		font-size: 1.50em;
		margin: 0 0 0.2em 0;
	}
	h4 {
		font-size: 1.15em;
		margin: 0 0 0.2em 0;
	}

	b, strong {
		font-weight: 600;
		color: #444;
	}

	i, em {
		font-style: italic;
	}

	br.clear {
		clear: both;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #eee;
	}

	blockquote {
		border-left: solid 0.5em #eee;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 0.75em;
	}

/* Container */

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1170px;
	}

		@media screen and (max-width: 1680px) {

			.container {
				width: 1170px;
			}

		}

		@media screen and (max-width: 1280px) {

			.container {
				width: 960px;
			}

		}

		@media screen and (max-width: 980px) {

			.container {
				width: 90%;
			}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 100%;
			}

		}

/* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
        padding: 0 0.6rem;
	}

		.row > * {
			box-sizing: border-box;
		}

		.row.gtr-uniform > * > :last-child {
			margin-bottom: 0;
		}

		.row.aln-left {
			justify-content: flex-start;
		}

		.row.aln-center {
			justify-content: center;
		}

		.row.aln-right {
			justify-content: flex-end;
		}

		.row.aln-top {
			align-items: flex-start;
		}

		.row.aln-middle {
			align-items: center;
		}

		.row.aln-bottom {
			align-items: flex-end;
		}

		.row > .imp {
			order: -1;
		}

		.row > .col-1 {
			width: 8.33333%;
		}

		.row > .off-1 {
			margin-left: 8.33333%;
		}

		.row > .col-2 {
			width: 16.66667%;
		}

		.row > .off-2 {
			margin-left: 16.66667%;
		}

		.row > .col-3 {
			width: 25%;
		}

		.row > .off-3 {
			margin-left: 25%;
		}

		.row > .col-4 {
			width: 33.33333%;
		}

		.row > .off-4 {
			margin-left: 33.33333%;
		}

		.row > .col-5 {
			width: 41.66667%;
		}

		.row > .off-5 {
			margin-left: 41.66667%;
		}

		.row > .col-6 {
			width: 50%;
		}

		.row > .off-6 {
			margin-left: 50%;
		}

		.row > .col-7 {
			width: 58.33333%;
		}

		.row > .off-7 {
			margin-left: 58.33333%;
		}

		.row > .col-8 {
			width: 66.66667%;
		}

		.row > .off-8 {
			margin-left: 66.66667%;
		}

		.row > .col-9 {
			width: 75%;
		}

		.row > .off-9 {
			margin-left: 75%;
		}

		.row > .col-10 {
			width: 83.33333%;
		}

		.row > .off-10 {
			margin-left: 83.33333%;
		}

		.row > .col-11 {
			width: 91.66667%;
		}

		.row > .off-11 {
			margin-left: 91.66667%;
		}

		.row > .col-12 {
			width: 100%;
		}

		.row > .off-12 {
			margin-left: 100%;
		}

		.row.gtr-0 {
			margin-top: 0px;
			margin-left: 0px;
		}

			.row.gtr-0 > * {
				padding: 0px 0 0 0px;
			}

			.row.gtr-0.gtr-uniform {
				margin-top: 0px;
			}

				.row.gtr-0.gtr-uniform > * {
					padding-top: 0px;
				}

		.row.gtr-25 {
			margin-top: -10px;
			margin-left: -10px;
		}

			.row.gtr-25 > * {
				padding: 10px 0 0 10px;
			}

			.row.gtr-25.gtr-uniform {
				margin-top: -10px;
			}

				.row.gtr-25.gtr-uniform > * {
					padding-top: 10px;
				}

		.row.gtr-50 {
			margin-top: -20px;
			margin-left: -20px;
		}

			.row.gtr-50 > * {
				padding: 20px 0 0 20px;
			}

			.row.gtr-50.gtr-uniform {
				margin-top: -20px;
			}

				.row.gtr-50.gtr-uniform > * {
					padding-top: 20px;
				}

		.row {
			margin-top: -40px;
			margin-left: -40px;
		}

			.row > * {
				padding: 40px 0 0 40px;
			}

			.row.gtr-uniform {
				margin-top: -40px;
			}

				.row.gtr-uniform > * {
					padding-top: 40px;
				}

		.row.gtr-150 {
			margin-top: -60px;
			margin-left: -60px;
		}

			.row.gtr-150 > * {
				padding: 60px 0 0 60px;
			}

			.row.gtr-150.gtr-uniform {
				margin-top: -60px;
			}

				.row.gtr-150.gtr-uniform > * {
					padding-top: 60px;
				}

		.row.gtr-200 {
			margin-top: -80px;
			margin-left: -80px;
		}

			.row.gtr-200 > * {
				padding: 80px 0 0 80px;
			}

			.row.gtr-200.gtr-uniform {
				margin-top: -80px;
			}

				.row.gtr-200.gtr-uniform > * {
					padding-top: 80px;
				}

		@media screen and (max-width: 1680px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-xlarge {
					order: -1;
				}

				.row > .col-1-xlarge {
					width: 8.33333%;
				}

				.row > .off-1-xlarge {
					margin-left: 8.33333%;
				}

				.row > .col-2-xlarge {
					width: 16.66667%;
				}

				.row > .off-2-xlarge {
					margin-left: 16.66667%;
				}

				.row > .col-3-xlarge {
					width: 25%;
				}

				.row > .off-3-xlarge {
					margin-left: 25%;
				}

				.row > .col-4-xlarge {
					width: 33.33333%;
				}

				.row > .off-4-xlarge {
					margin-left: 33.33333%;
				}

				.row > .col-5-xlarge {
					width: 41.66667%;
				}

				.row > .off-5-xlarge {
					margin-left: 41.66667%;
				}

				.row > .col-6-xlarge {
					width: 50%;
				}

				.row > .off-6-xlarge {
					margin-left: 50%;
				}

				.row > .col-7-xlarge {
					width: 58.33333%;
				}

				.row > .off-7-xlarge {
					margin-left: 58.33333%;
				}

				.row > .col-8-xlarge {
					width: 66.66667%;
				}

				.row > .off-8-xlarge {
					margin-left: 66.66667%;
				}

				.row > .col-9-xlarge {
					width: 75%;
				}

				.row > .off-9-xlarge {
					margin-left: 75%;
				}

				.row > .col-10-xlarge {
					width: 83.33333%;
				}

				.row > .off-10-xlarge {
					margin-left: 83.33333%;
				}

				.row > .col-11-xlarge {
					width: 91.66667%;
				}

				.row > .off-11-xlarge {
					margin-left: 91.66667%;
				}

				.row > .col-12-xlarge {
					width: 100%;
				}

				.row > .off-12-xlarge {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row.gtr-25 {
					margin-top: -10px;
					margin-left: -10px;
				}

					.row.gtr-25 > * {
						padding: 10px 0 0 10px;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -10px;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 10px;
						}

				.row.gtr-50 {
					margin-top: -20px;
					margin-left: -20px;
				}

					.row.gtr-50 > * {
						padding: 20px 0 0 20px;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -20px;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 20px;
						}

				.row {
					margin-top: -40px;
					margin-left: -40px;
				}

					.row > * {
						padding: 40px 0 0 40px;
					}

					.row.gtr-uniform {
						margin-top: -40px;
					}

						.row.gtr-uniform > * {
							padding-top: 40px;
						}

				.row.gtr-150 {
					margin-top: -60px;
					margin-left: -60px;
				}

					.row.gtr-150 > * {
						padding: 60px 0 0 60px;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -60px;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 60px;
						}

				.row.gtr-200 {
					margin-top: -80px;
					margin-left: -80px;
				}

					.row.gtr-200 > * {
						padding: 80px 0 0 80px;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -80px;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 80px;
						}

		}

		@media screen and (max-width: 1280px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-large {
					order: -1;
				}

				.row > .col-1-large {
					width: 8.33333%;
				}

				.row > .off-1-large {
					margin-left: 8.33333%;
				}

				.row > .col-2-large {
					width: 16.66667%;
				}

				.row > .off-2-large {
					margin-left: 16.66667%;
				}

				.row > .col-3-large {
					width: 25%;
				}

				.row > .off-3-large {
					margin-left: 25%;
				}

				.row > .col-4-large {
					width: 33.33333%;
				}

				.row > .off-4-large {
					margin-left: 33.33333%;
				}

				.row > .col-5-large {
					width: 41.66667%;
				}

				.row > .off-5-large {
					margin-left: 41.66667%;
				}

				.row > .col-6-large {
					width: 50%;
				}

				.row > .off-6-large {
					margin-left: 50%;
				}

				.row > .col-7-large {
					width: 58.33333%;
				}

				.row > .off-7-large {
					margin-left: 58.33333%;
				}

				.row > .col-8-large {
					width: 66.66667%;
				}

				.row > .off-8-large {
					margin-left: 66.66667%;
				}

				.row > .col-9-large {
					width: 75%;
				}

				.row > .off-9-large {
					margin-left: 75%;
				}

				.row > .col-10-large {
					width: 83.33333%;
				}

				.row > .off-10-large {
					margin-left: 83.33333%;
				}

				.row > .col-11-large {
					width: 91.66667%;
				}

				.row > .off-11-large {
					margin-left: 91.66667%;
				}

				.row > .col-12-large {
					width: 100%;
				}

				.row > .off-12-large {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row.gtr-25 {
					margin-top: -6.25px;
					margin-left: -6.25px;
				}

					.row.gtr-25 > * {
						padding: 6.25px 0 0 6.25px;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -6.25px;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 6.25px;
						}

				.row.gtr-50 {
					margin-top: -12.5px;
					margin-left: -12.5px;
				}

					.row.gtr-50 > * {
						padding: 12.5px 0 0 12.5px;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -12.5px;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 12.5px;
						}

				.row {
					margin-top: -25px;
					margin-left: -25px;
				}

					.row > * {
						padding: 25px 0 0 25px;
					}

					.row.gtr-uniform {
						margin-top: -25px;
					}

						.row.gtr-uniform > * {
							padding-top: 25px;
						}

				.row.gtr-150 {
					margin-top: -37.5px;
					margin-left: -37.5px;
				}

					.row.gtr-150 > * {
						padding: 37.5px 0 0 37.5px;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -37.5px;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 37.5px;
						}

				.row.gtr-200 {
					margin-top: -50px;
					margin-left: -50px;
				}

					.row.gtr-200 > * {
						padding: 50px 0 0 50px;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -50px;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 50px;
						}

		}

		@media screen and (max-width: 980px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-medium {
					order: -1;
				}

				.row > .col-1-medium {
					width: 8.33333%;
				}

				.row > .off-1-medium {
					margin-left: 8.33333%;
				}

				.row > .col-2-medium {
					width: 16.66667%;
				}

				.row > .off-2-medium {
					margin-left: 16.66667%;
				}

				.row > .col-3-medium {
					width: 25%;
				}

				.row > .off-3-medium {
					margin-left: 25%;
				}

				.row > .col-4-medium {
					width: 33.33333%;
				}

				.row > .off-4-medium {
					margin-left: 33.33333%;
				}

				.row > .col-5-medium {
					width: 41.66667%;
				}

				.row > .off-5-medium {
					margin-left: 41.66667%;
				}

				.row > .col-6-medium {
					width: 50%;
				}

				.row > .off-6-medium {
					margin-left: 50%;
				}

				.row > .col-7-medium {
					width: 58.33333%;
				}

				.row > .off-7-medium {
					margin-left: 58.33333%;
				}

				.row > .col-8-medium {
					width: 66.66667%;
				}

				.row > .off-8-medium {
					margin-left: 66.66667%;
				}

				.row > .col-9-medium {
					width: 75%;
				}

				.row > .off-9-medium {
					margin-left: 75%;
				}

				.row > .col-10-medium {
					width: 83.33333%;
				}

				.row > .off-10-medium {
					margin-left: 83.33333%;
				}

				.row > .col-11-medium {
					width: 91.66667%;
				}

				.row > .off-11-medium {
					margin-left: 91.66667%;
				}

				.row > .col-12-medium {
					width: 100%;
				}

				.row > .off-12-medium {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row.gtr-25 {
					margin-top: -6.25px;
					margin-left: -6.25px;
				}

					.row.gtr-25 > * {
						padding: 6.25px 0 0 6.25px;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -6.25px;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 6.25px;
						}

				.row.gtr-50 {
					margin-top: -12.5px;
					margin-left: -12.5px;
				}

					.row.gtr-50 > * {
						padding: 12.5px 0 0 12.5px;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -12.5px;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 12.5px;
						}

				.row {
					margin-top: -25px;
					margin-left: -25px;
				}

					.row > * {
						padding: 25px 0 0 25px;
					}

					.row.gtr-uniform {
						margin-top: -25px;
					}

						.row.gtr-uniform > * {
							padding-top: 25px;
						}

				.row.gtr-150 {
					margin-top: -37.5px;
					margin-left: -37.5px;
				}

					.row.gtr-150 > * {
						padding: 37.5px 0 0 37.5px;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -37.5px;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 37.5px;
						}

				.row.gtr-200 {
					margin-top: -50px;
					margin-left: -50px;
				}

					.row.gtr-200 > * {
						padding: 50px 0 0 50px;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -50px;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 50px;
						}

		}

		@media screen and (max-width: 736px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-small {
					order: -1;
				}

				.row > .col-1-small {
					width: 8.33333%;
				}

				.row > .off-1-small {
					margin-left: 8.33333%;
				}

				.row > .col-2-small {
					width: 16.66667%;
				}

				.row > .off-2-small {
					margin-left: 16.66667%;
				}

				.row > .col-3-small {
					width: 25%;
				}

				.row > .off-3-small {
					margin-left: 25%;
				}

				.row > .col-4-small {
					width: 33.33333%;
				}

				.row > .off-4-small {
					margin-left: 33.33333%;
				}

				.row > .col-5-small {
					width: 41.66667%;
				}

				.row > .off-5-small {
					margin-left: 41.66667%;
				}

				.row > .col-6-small {
					width: 50%;
				}

				.row > .off-6-small {
					margin-left: 50%;
				}

				.row > .col-7-small {
					width: 58.33333%;
				}

				.row > .off-7-small {
					margin-left: 58.33333%;
				}

				.row > .col-8-small {
					width: 66.66667%;
				}

				.row > .off-8-small {
					margin-left: 66.66667%;
				}

				.row > .col-9-small {
					width: 75%;
				}

				.row > .off-9-small {
					margin-left: 75%;
				}

				.row > .col-10-small {
					width: 83.33333%;
				}

				.row > .off-10-small {
					margin-left: 83.33333%;
				}

				.row > .col-11-small {
					width: 91.66667%;
				}

				.row > .off-11-small {
					margin-left: 91.66667%;
				}

				.row > .col-12-small {
					width: 100%;
				}

				.row > .off-12-small {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0px;
					margin-left: 0px;
				}

					.row.gtr-0 > * {
						padding: 0px 0 0 0px;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0px;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0px;
						}

				.row.gtr-25 {
					margin-top: -5px;
					margin-left: -5px;
				}

					.row.gtr-25 > * {
						padding: 5px 0 0 5px;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -5px;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 5px;
						}

				.row.gtr-50 {
					margin-top: -10px;
					margin-left: -10px;
				}

					.row.gtr-50 > * {
						padding: 10px 0 0 10px;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -10px;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 10px;
						}

				.row {
					margin-top: -20px;
					margin-left: -20px;
				}

					.row > * {
						padding: 20px 0 0 20px;
					}

					.row.gtr-uniform {
						margin-top: -20px;
					}

						.row.gtr-uniform > * {
							padding-top: 20px;
						}

				.row.gtr-150 {
					margin-top: -30px;
					margin-left: -30px;
				}

					.row.gtr-150 > * {
						padding: 30px 0 0 30px;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -30px;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 30px;
						}

				.row.gtr-200 {
					margin-top: -40px;
					margin-left: -40px;
				}

					.row.gtr-200 > * {
						padding: 40px 0 0 40px;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -40px;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 40px;
						}

		}

/* Section/Article */

	section, article {
		margin-bottom: 5em;
	}

	section > :last-child,
	article > :last-child,
	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

	header {
		margin: 0 0 2em 0;
		padding: 1em 0 0.5em 0;
	}

		header h2, header h3 {
			margin: 0 0 0.25em 0;
		}

		header p {
			margin: 0;
		}

	footer {
		margin: 2.5em 0 0 0;
	}

/* Forms */

	form label {
		display: inline-block;
    font-weight: 500;
    margin: 0 0 1em 0;
    font-size: 1em;
    color: #343434;
	}

	form input[type="text"],
	form input[type="email"],
	form input[type="password"],
	form select,
	form textarea {
		-webkit-appearance: none;
		display: block;
		width: 100%;
		border-radius: 2px;
		border: solid 1px #707070;
	}

		form input[type="text"]:focus,
		form input[type="email"]:focus,
		form input[type="password"]:focus,
		form select:focus,
		form textarea:focus {
			border-color: #0090c5;
		}

	form input[type="text"],
	form input[type="email"],
	form input[type="password"] {
		line-height: 3em;
		padding: 0 1em;
	}

	form select {
		line-height: 3em;
		padding: 0 1em;
	}

	form textarea {
		min-height: 9em;
		padding: 1em;
		border-radius: 2px;
    border: solid 1px #707070;
	}

	form ::-webkit-input-placeholder {
		color: #555 !important;
	}

	form :-moz-placeholder {
		color: #555 !important;
	}

	form ::-moz-placeholder {
		color: #555 !important;
	}

	form :-ms-input-placeholder {
		color: #555 !important;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

/* Tables */

	table {
	caption-side: bottom;
	border-collapse: collapse
}

caption {
	padding-top: .5rem;
	padding-bottom: .5rem;
	color: #898989;
	text-align: left
}

th {
	text-align: inherit;
	text-align: -webkit-match-parent
}

tbody,
td,
tfoot,
th,
thead,
tr {
	border-color: inherit;
	border-style: solid;
	border-width: 0;
	padding: 1rem !important
}

/* Image */

	.image {
		display: inline-block;
		outline: 0;
	}

		.image img {
			display: block;
			width: 100%;
			border-radius: 8px;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2.5em 0;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2.5em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		background: #0090c5;
		color: #fff;
		text-decoration: none;
		border-radius: 6px;
		font-weight: 800;
		outline: 0;
		border: 0;
		cursor: pointer;
		font-size: 1.35em;
		padding: 0.6em 1.5em;
	}
	
.button-solid {
	position: relative;
    display: inline-block;
    background: #ec0038;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 500;
    padding: 0.35em 1.1em;    
    letter-spacing: 0.02em;
	}
	.button-solid:hover, #footer .button-solid:hover{
		position: relative;
		display: inline-block;
		background: #000;
		color: #fff;
		text-decoration: none;
    font-weight: 400;
	}
.button-solid-white {
	position: relative;
    display: inline-block;
    background: #fff;
    color: #ec0038;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 500;
    padding: 0.35em 1.1em;    
    letter-spacing: 0.02em;
	}
	.button-solid-white:hover {
		position: relative;
		display: inline-block;
		background: #000;
		color: #fff;
		text-decoration: none;
    font-weight: 500;
	}
	.button-outline {
		position: relative;
		display: inline-block;
		background: none;
		color: #ec0038;
		text-decoration: none;
		border-radius: 3px;
		font-weight: 500;
		border: 1px solid #ec0038;
		font-size: 1em;
		padding: 0.35em 1.1em; 
	}
	.button-outline:hover {
		position: relative;
		display: inline-block;
		background: none;
		background: #ec0038;
		color: #fff;
		text-decoration: none;
	}
	.button-outline-gray {
		position: relative;
		display: inline-block;
		background: none;
		color: #1C191F;
		text-decoration: none;
		border-radius: 3px;
		font-weight: 500;
		border: 1px solid #1C191F;
		font-size: 1em;
		padding: 0.35em 1.1em; 
	}
	.button-outline-gray:hover {
		position: relative;
		display: inline-block;
		background: none;
		background: #1C191F;
		color: #fff;
		text-decoration: none;
	}
	.button-outline-sm {
		position: relative;
		display: inline-block;
		background: none;
		color: #ec0038;
		text-decoration: none;
		border-radius: 3px;
		font-weight: 500;
		border: 1px solid #ec0038;
		font-size: 0.75em;
		padding: 1px 8px; 
	}
	.button-outline-sm:hover {
		position: relative;
		display: inline-block;
		background: none;
		background: #ec0038;
		color: #fff;
		text-decoration: none;
	}

		input[type="button"].icon:before,
		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		button.icon:before,
		.button.icon:before {
			position: relative;
			margin-right: 0.5em;
			top: 0.05em;
		}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background: #10a0d5;
		}

		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		button:active,
		.button:active {
			background: #20b0e5;
		}

		input[type="button"].alt,
		input[type="submit"].alt,
		input[type="reset"].alt,
		button.alt,
		.button.alt {
			background: #f1f1f1;
			background: rgba(0, 0, 0, 0.05);
			color: #444;
		}

			input[type="button"].alt:hover,
			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background: #e8e8e8;
				background: rgba(0, 0, 0, 0.085);
			}

			input[type="button"].alt:active,
			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			button.alt:active,
			.button.alt:active {
				background: #e4e4e4;
				background: rgba(0, 0, 0, 0.15);
			}

		input[type="button"].large,
		input[type="submit"].large,
		input[type="reset"].large,
		button.large,
		.button.large {
			font-size: 2.25em;
			padding: 0.8em 0.9em;
		}

/* List */

	ul {
		list-style: disc;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.style2 {
			list-style: none;
			padding-left: 0;
		}

			ul.style2 li {
				padding-left: 0;
			}

	ol {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

/* Actions */

	ul.actions {
		list-style: none;
		padding-left: 0;
	}

		ul.actions li {
			display: inline-block;
			padding: 0 0 0 0.25em;
			margin: 0 0 0 0.25em;
		}

			ul.actions li:first-child {
				margin-left: 0;
				padding-left: 0;
			}

/* Menu */

	ul.menu {
		list-style: none;
		padding-left: 0;
	}

		ul.menu li {
			border-left: solid 1px #e0e0e0;
			display: inline-block;
			padding: 0 0 0 0.75em;
			margin: 0 0 0 0.75em;
		}

			ul.menu li:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}

/* Box */

	.boxbanner {
		background: #ec0038;/*
		border-radius: 6px;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);*/
		width: 100%;
		padding: 2em;
		
		background-position: top left, top left;
		background-repeat: repeat-x, repeat;
		background-size: 100% 30em, auto;
		
	}

		.box.feature {
			padding: 0;
			box-shadow: 1px 3px 4px #e3e3e3;
    border: 1px solid #e3e3e3;
	border-radius: 5px;
		}
		.outer {
				clear:both;
				margin: 1em 0;
				background: #fff;
			}

			.box.feature .inner {
				padding: 1.15em;
			}

			.box.feature h2 {
				font-size: 1.35em;
			}

			.box.feature p {
				margin-bottom: 0.4em;
				line-height: 1.1em;
			}

			.box.feature .image {
				position: relative;
				margin: 0;
			}

				.box.feature .image img {
					border-radius: 5px;
					margin-bottom: 1em;
					object-fit: contain;
				}

/* Icons */

	.icon {
		text-decoration: none;
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
			color: #fff;
		}

		.icon > .label {
			display: none;
		}

/* Widgets */

	.widget.thumbnails .grid {
		margin: 0 0 3em 0;
	}

	.widget.thumbnails .image {
		margin: 0;
	}

	.widget.contact ul {
		list-style: none;
		padding-left: 0;
		overflow: hidden;
		position: relative;
		left: -4px;
		top: 4px;
		margin-bottom: 1.5em;
	}

		.widget.contact ul li {
			display: inline-block;
			margin-right: 0.25em;
			padding-left: 0;
		}

			.widget.contact ul li a {
				-moz-transition: background-color .25s ease-in-out;
				-webkit-transition: background-color .25s ease-in-out;
				-ms-transition: background-color .25s ease-in-out;
				transition: background-color .25s ease-in-out;
				display: inline-block;
				width: 2.5em;
				height: 2.5em;
				text-align: center;
				line-height: 2.5em;
				border-radius: 0.35em;
				outline: 0;
				opacity: 0.75;
				text-decoration: none;
				background: #222222;
			}

				.widget.contact ul li a:before {
					color: #f9f9f9;
					font-size: 1.2em;
					line-height: inherit;
				}

				.widget.contact ul li a:hover {
					background: #444444;
				}

				.widget.contact ul li a:active {
					background: #666666;
				}

/* Wrappers */

	#header-wrapper {
		padding: 0;
		position: sticky;
		top: 0;
   		background: #fff;
    	width: 100%;
    	-webkit-box-shadow: 0 5px 4px -4px #aaaaaa;
    	-moz-box-shadow: 0 5px 4px -4px #aaaaaa;
    	box-shadow: 0 5px 4px -4px #aaaaaa;
		z-index: 999;
	}
	#home-bg {
		padding: 10px 0;
    	width: 100%;
        background-image: url("../../images/bg-home.svg");
        background-repeat: no-repeat;
	}
@media screen and (max-width: 600px) {
    #home-bg {
		padding: 0;
    	width: 100%;
    background: #8FE8E6;
        height: auto;
	}
}
	#navigation-wrapper {
		position: sticky;
   		background: #ec0038;
        color: #fff;
		z-index: 999;
	}

.navbar {
  width: 100%;
  background-color: #FF8B00;
  overflow: auto;
}
.topnav {
  overflow: hidden;
  background-color: #ec0038;
    
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 8px 26px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #1C191F;
  color: #fff;
}

.topnav a.active {
  background-color: #1C191F;
  color: #fff;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
    
    .topnav {
           background: none;
    color: #ff0000;
    /* margin-top: -2rem; */
    z-index: 9999;
    position: absolute;
    right: 0;
    top: 6px;
    }
        .topnav a{
        color: #1C191F;
            background: #fff;
    }
    .fa, .fa-bars {
        color: #1C191F;
         z-index: 9999;
    }
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }    
}

@media screen and (max-width: 600px) {
    #header-wrapper {
        height: 220px;
    }
    .inputContainer {
        margin-bottom: 0 !important;
    }
  .topnav.responsive {
      position: absolute;
    }
    .topnav.responsive,container {
      position: absolute;
      top: 65px;
    }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
        #logo {
    float: left;
            margin-left: 1rem;
}
    #logo img {
    max-width:230px;
    max-height:54px;    
}
#header {
    height:80px;
    }
}
.colored {
    color: #ec0038;
}
.bgcolored {
    background: #ec0038;
    color: #fff;
}
.small {
    font-size: 80%;
}
.text-muted {
    color: #5F6368;
}

.navbar a {
  float: left;
  padding: 12px 32px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.navbar a:hover {
  background-color: #1C191F;
}

.navbar a.active {
  background-color: #1C191F;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

	.features-wrapper {
		padding: 3em 0 3em 0;
	}

	#main-wrapper {
		background: #fff;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
		padding: 5em 0 5em 0;
	}

	#footer-wrapper {
		padding: 3.2em 0 3.2em 0;
    background: #1C191F;
    color: #B7CBCC;
        text-align: center;
	}

/* Header */

	#header {
		position: relative;
	}

/* Logo */

	#logo {
		display: inline-block;
	}

		#logo h1 {
			color: #fff;
			/*font-family: 'Oleo Script', serif;*/
			font-weight: 400;
			padding: 0.25em 0.2em 0.25em 0.2em;
			font-size: 3.25em;
			letter-spacing: 0.05em;
			display: inline-block;
			vertical-align: middle;
		}

		#logo span {
			font-weight: 600;
			line-height: 4.5em;
			letter-spacing: 0.025em;
			font-size: 0.9em;
			vertical-align: middle;
			margin: 0 0 0 1.25em;
		}
#logo {
    
    margin-top: -10px;
}

/* Nav */

	#nav {
		position: absolute;
		right: 0;
		top: 0.7em;
		font-size: 0.9em;
	}

		#nav ul {
			list-style: none;
			padding-left: 0;
		}

			#nav ul li {
				float: left;
				line-height: 3.1em;
				padding-left: 1em;
				margin-top: 0.6em;
			}

				#nav ul li a, #nav ul li span {
					
					font-weight: 500;
					font-size: 1em;
					
					color: #2B2B2B;
					text-decoration: none;
					padding: 0.5em 0.7em 0.5em 0.7em;
					letter-spacing: 0.02em;
				}

				#nav ul li > ul {
					display: none;
				}

				#nav ul li:hover a, #nav ul li:hover span {
					border-bottom: 4px solid #ec0038;
				}
#nav ul li:last-child:hover a, #nav ul li:hover span {
					border-bottom: none;
	
				}
				

				#nav ul li.active a, #nav ul li.active span {
					background: #fff;
				}

				#nav ul li.current a {
					border-top: 4px solid #1E5C8D;
				}
				#nav ul li.has-child > a:after {
					color: #343434;
					content: ' ▾';
				}
#nav ul li:last-child a{
	position: relative;
    display: inline-block;
    background: #ec0038;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 400;
    padding: 0 1.5em;
    
    letter-spacing: 0.02em;
    margin-left: 0.5em;
}
#nav ul li:last-child a:hover{
    background: #1C191F;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

	#nav-full {
		font-size: 0.9em;
	}

		#nav-full ul {
			list-style: none;
			padding-left: 0;
		}

			#nav-full ul li {
				float: left;
				line-height: 3.1em;
				padding-left: 1em;
				margin-top: 0.6em;
			}

				#nav-full ul li a, #nav ul li span {
					
					font-weight: 500;
					font-size: 1em;
					
					color: #2B2B2B;
					text-decoration: none;
					padding: 0.5em 0.7em 0.5em 0.7em;
					letter-spacing: 0.02em;
				}

				#nav-full ul li > ul {
					display: none;
				}

				#nav-full ul li:hover a, #nav-full ul li:hover span {
					border-bottom: 4px solid #ec0038;
				}
#nav-full ul li:last-child:hover a, #nav ul li:hover span {
					border-bottom: none;
	
				}
				

				#nav ul li.active a, #nav ul li.active span {
					background: #fff;
				}

				#nav ul li.current a {
					border-top: 4px solid #1E5C8D;
				}
				#nav ul li.has-child > a:after {
					color: #343434;
					content: ' ▾';
				}
#nav-full ul li:last-child a{
	position: relative;
    display: inline-block;
    background: #ec0038;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 400;
    padding: 0 1.5em;
    
    letter-spacing: 0.02em;
    margin-left: 0.5em;
}
#nav-full ul li:last-child a:hover{
    background: #1C191F;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

	.dropotron {
		background: #fff;
		color: #343434;
		text-decoration: none;
		border-radius: 6px;
		padding: 0.75em 0;
		min-width: 15em;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0.25em 0.25em 0.1em rgba(0, 0, 0, 0.025);
		margin-top: calc(-0.75em + 1px);
		margin-left: -1px;
		list-style: none;
		padding-left: 0;
	}

		.dropotron li {
			border-top: solid 1px #eee;
			line-height: 3em;
			padding-left: 0;
		}

			.dropotron li:first-child {
				border-top: 0;
			}

			.dropotron li > a, .dropotron li > span {
				-moz-transition: color .25s ease-in-out, background-color .25s ease-in-out;
				-webkit-transition: color .25s ease-in-out, background-color .25s ease-in-out;
				-ms-transition: color .25s ease-in-out, background-color .25s ease-in-out;
				transition: color .25s ease-in-out, background-color .25s ease-in-out;
				text-decoration: none;
				color: inherit;
				display: block;
				padding: 0 1.5em;
			}

				.dropotron li > a:hover, .dropotron li > span:hover {
					background: #eee;
				}

			.dropotron li.active > a, .dropotron li.active > span {
				background: #eee;
			}

		.dropotron.level-0 {
			font-size: 0.8em;
			margin-left: 1.5em;
			margin-top: 0;
			font-weight: 600;
		}

			.dropotron.level-0:before {
				/*content: '';*/
				position: absolute;
				top: -0.5em;
				left: 1em;
				border-bottom: solid 0.75em #ffffff;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				z-index: 1;
			}

/* Banner */

	#banner {
		position: relative;
		padding: 2.5em 0 4.5em 4.5em;
		background-image: url("../../images/amb-banner.jpg");
		background-size: cover;
		height: 514px;
		background-repeat: no-repeat;
		text-align: center;
		display: flex;
  justify-content: center;
  align-items: center;
	}

		#banner h1 {
		 margin: 0.1em 0 0.35em 0;
    color: #fff;
    font-size: 5.1em;
    font-weight: 600;
    line-height: 1.1;
		}

		#banner p {
			font-size: 1em;
			line-height: 1.35em;
			margin: 0;
		}
		.yellow {
			color: #ec0038;
		}
		#banner h4 {
			font-size: 1.5em;
    		line-height: 1.35em;
    		margin: 0.7em 0 0.7em 0;
    		color: #fff;
			font-weight: 600;
			letter-spacing: 0.1em;
		}

		#banner .button {
			width: auto;
			border-radius: 3px;
			margin-bottom: 0.5em;
		}

			#banner .button.icon:before {
				position: absolute;
				right: 0.15em;
				top: 50%;
				margin-top: -0.5em;
			}

			#banner .button.alt {
				margin-bottom: 0;
			}

		#banner ul {
			list-style: none;
			padding-left: 0;
			margin: 0 0 0 2em;
		}

			#banner ul li {
				padding-left: 0;
			}

/* Misc */
ul.bulletedlist {
	list-style-type: dot !important;
	color: #2B2B2B;
	font-weight: 600;
	letter-spacing: 0.02em;
}
#banner ul {
	margin: 1.5em 0 2em 2em;
	list-style: disc !important;
				}
.textcenter {
	text-align:center;
}
.marginauto {
	margin: 0 auto;
}
.search-icon {
	margin-top: 15px;
	color: #343434;
}
.noborder:hover a {
	border: none !important;	
}
.center {
  margin: auto;
  width: 50%;
}
.caption {
	font-size: 0.81em;
	color: #888888;
	margin-bottom: 0;
}
.inlineblock {
	display: inline-block;
}
.floatright {
	float: right;
}
.margintop2 {
	margin-top: 2em;
}
.margintop3 {
	margin-top: 2.7em;
}
.margintop1 {
	margin-top: 1em;
}
.margintop3-minus {
	margin-top: -3em;
}
.margintop5 {
	margin-top: 5em;
}
.marginbottom1 {
	margin-bottom: 1em;
}
.marginbottom2 {
	margin-bottom: 2em;
}
.paddingbottom3 {
	padding-bottom: 3em;
}
.marginbottom5 {
	margin-bottom: 5em;
}
.marginbottom8 {
	margin-bottom: 8.5em;
}
.marginleft1 {
	margin-left: 1em;
}
.padding-0 {
	padding: 0;
}
.padding1 {
	padding: 1em;
}
.padding2 {
	padding: 2em;
}
.padding-tb-2 {
	padding: 2em 0;
}
.padding-tb-5 {
	padding: 5em 0;
}
.paddingtop2 {
	padding-top: 2em;
}
.paddingtop1 {
	padding-top: 1em;
}
.paddingbottom1 {
	padding-bottom: 1em;
}
.marginright1 {
	margin-right: 0.5em;
}
.marginright2 {
	margin-right: 1em;
}
.graysection {
	background: #F8F9FA;
	width: 100%;
	padding: 4em 0 4em 0;
	box-shadow: inset 0 8px 6px -6px #D1D1D1; 
}
.price {
	color: #1E5C8D;
	font-size: 1.5em;
	font-weight: 600;
}
.add-to-cart-button {
	font-size: 0.75em;
	
	font-weight: 600;
	padding: 0.4em 0.75em;
	border: 1px solid #1E5C8D;
	border-radius: 3px;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
	-webkit-box-shadow: 0 12px 10px -10px #061418;
	-moz-box-shadow: 0 12px 10px -10px #061418;
	box-shadow: 0 12px 10px -10px #061418;

}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.add-to-cart-button:hover {
	background: #1E5C8D;
	color: #fff;
}
.add-to-cart-button:before {
    content: "";
    background-image:url("../../images/cart-b.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
	margin-right: 5px;
}
.add-to-cart-button:hover:before {
    content: "";
    background-image: url("../../images/cart-w.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
	margin-right: 5px;
}
.button-round {
	font-size: 1em;
	font-weight: 600;
	padding: 0.5em 1.5em;
	border: 1px solid #1E5C8D;
	border-radius: 3px;
}
.button-round:hover {
	background: #1E5C8D;
	color: #fff;
}
.button-round-w {
	font-size: 1em;
	font-weight: 600;
	padding: 0.5em 1.5em;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
}
.button-round-w:hover {
	background: #fff;
	color: #1E5C8D;
}
.textwhite {
	color: #fff;
}
.jumbo {
	font-size: 3.5em;
}
.pricingsection {
	width: 75%;
	margin: 0 auto;
}
.whitebox{	
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 5px 5px 25px #466A7729;
	border: 1px solid #E8E8E8;
	border-radius: 10px;
	padding: 30px;
}
.whitebox h3{	
	text-align: left;
}
ul.pricing-plans {
	margin-left: 0;
	padding-left: 0;
}
.pricing-plans li{
	padding-left: 0.5em;
    text-align: left;
    list-style: none;
    border-bottom: 1px solid #ccc;
    line-height: 44px;
	margin-left: 0;
}

.colored-section {
		background: #fff;
		/*border-radius: 6px;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);*/
		width: 100%;
		padding: 3.2em;
		background-image: url("../../images/colored-section.jpg");
		/*background-size: 100% 30em, auto;*/
		color: #000 !important;
	}
.colored-section h2{
		font-size: 2.25em;
    	/*margin: 0.2em 0 0 0;*/
    	line-height: 1em;
	font-weight: 400;
	}

.heightimg {
	height: 251px;
}
	.overlay {
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
		padding: 0.1em 0 2em 0;
		width: 99vw;
  margin-left: calc(-50vw + 50%);
                bottom: 0; 
                height: 350px;
}
ul.breadcrumb {
  padding: 6px 16px;
  list-style: none;
	color: #fff;
	
}
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #fff;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #fff;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #fff;
  text-decoration: underline;
}
	
/* Footer */

	#footer {
		margin-top: 0;        
        font-size: 0.875em;
	}

		#footer a {
			color: inherit;
            
		}
#footer a:hover {
			color: #fff;
		}

	#copyright {
		color: #aaa;
		padding: 0;
		text-align: center;
		font-size: 0.8em;
	}

		#copyright a {
			color: inherit;
		}

/* XLarge */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}

	}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 11pt;
			}

	}

/* Medium */

	#navPanel, #navToggle {
		display: none;
	}

@media screen and (max-width: 980px) {

/* Basic */
			html, body {
				overflow-x: hidden;
			}

			body, input, select, textarea {
				font-size: 11pt;
			}

		/* Section/Article */

			section, article {
				clear: both;
				margin-bottom: 3em !important;
			}

			section.last, article.last {
				margin-bottom: 0 !important;
			}

		/* Image */

			.image.left {
				width: 25%;
				margin-bottom: 2em !important;
			}

		/* Menu */

			ul.menu li {
				display: block;
				border: 0 !important;
				padding: 0 !important;
				margin: 0 !important;
			}

		/* Actions */

			ul.actions li {
				display: block;
				padding: 0;
				margin: 1em 0 0 0;
			}

				ul.actions li:first-child {
					margin-top: 0;
				}

		/* Button */

			

				input[type="button"].icon,
				input[type="submit"].icon,
				input[type="reset"].icon,
				button.icon,
				.button.icon {
					padding-right: 0.75em !important;
				}

					input[type="button"].icon:before,
					input[type="submit"].icon:before,
					input[type="reset"].icon:before,
					button.icon:before,
					.button.icon:before {
						margin-right: 0.5em;
						top: 0.05em;
					}

		/* Wrappers */

			#header-wrapper {
				padding: 3em 0 1em 0;
				text-align: center;
			}

			#footer-wrapper {
				padding: 3.2 0 3.2em 0;
			}

		/* Header */

			#header {
				margin: 0 auto;
			}

		/* Logo */

			#logo span {
				display: block;
				margin: 0;
			}

		/* Nav */

			#nav {
				display: none;
			}

		/* Banner */

			#banner {
				padding: 4.5em 3em;
			}

				

				#banner .button.icon:before {
					position: relative;
					right: auto;
					top: auto;
				}

		/* Content */

			#content {
				border-bottom: solid 1px #e8e8e8;
				padding-bottom: 4em;
				margin-bottom: 0 !important;
			}

				#content > :last-child {
					margin-bottom: 0 !important;
				}

			#sidebar > :last-child {
				margin-bottom: 0 !important;
			}
		

		/* Footer */

			#copyright {
				padding: 0;
			}
	input[type="button"].icon,
				input[type="submit"].icon,
				input[type="reset"].icon,
				button.icon,
				.button.icon {
					padding-right: 0.75em !important;
				}

					input[type="button"].icon:before,
					input[type="submit"].icon:before,
					input[type="reset"].icon:before,
					button.icon:before,
					.button.icon:before {
						margin-right: 0.5em;
						top: 0.05em;
					}

		

		/* Nav */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#navToggle {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				right: 0;
				position: fixed;
				top: 6px;
				width: 60px;
				z-index: 10001;
			}

				#navToggle .toggle {
					text-decoration: none;
					width: 70px;
					height: 50px;
					opacity: 1;
				}

					#navToggle .toggle:before {
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						line-height: 1;
						text-transform: none !important;
						font-family: 'Font Awesome 5 Free';
						font-weight: 900;
					}

					#navToggle .toggle:before {
						display: inline-block;
						text-decoration: none;
						position: absolute;
						left: 6px;
						top: 6px;
						background: #fff;
						width: 48px;
						height: 38px;
						border-radius: 6px;
						content: '\f0c9';
						color: #ec0038;
						text-align: center;
						line-height: 38px;
						font-size: 20px;
					}

					#navToggle .toggle:active {
						opacity: 1;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #fff;
				box-shadow: inset -3px 0px 0px 0px #dfdfdf;
				padding: 0 23px 0 20px;
			}

				#navPanel .link {
					display: block;
					text-decoration: none;
					height: 54px;
					line-height: 54px;
					border-top: solid 1px #e8e8e8;
					color: #696969;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #1d1d1d;
    				font-weight: 400;
    				font-size: 1rem;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navToggle {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

	

/* Small */

	@media screen and (max-width: 600px) {

		/* Basic */

			body, input, select, textarea {
				line-height: 1.5em;
			}
			

			h1, h2, h3, h4, h5, h6 {
				margin: 1em 0.5em;
				letter-spacing: 0.05em;
				font-weight: 600;
			}
			#header {
		position: absolute;
		top: 0.2em;
	}
		iframe {
				width: 100%;
			clear: both;
			}

		/* Section/Article */

			section, article {
				clear: both;
				margin-bottom: 3em !important;
			}

				section.last, article.last {
					margin-bottom: 0 !important;
				}

		/* Image */

			.image.left {
				width: 25%;
				margin-bottom: 2em !important;
			}

		/* Menu */

			ul.menu li {
				display: block;
				border: 0 !important;
				padding: 0 !important;
				margin: 0 !important;
			}

		/* Actions */

			ul.actions li {
				display: block;
				padding: 0;
				margin: 1em 0 0 0;
			}

				ul.actions li:first-child {
					margin-top: 0;
				}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				width: 100%;
				text-align: center;
				font-size: 1.25em !important;
				padding: 0.65em 0 !important;
			}

				input[type="button"].icon,
				input[type="submit"].icon,
				input[type="reset"].icon,
				button.icon,
				.button.icon {
					padding-right: 0.75em !important;
				}

					input[type="button"].icon:before,
					input[type="submit"].icon:before,
					input[type="reset"].icon:before,
					button.icon:before,
					.button.icon:before {
						margin-right: 0.5em;
						top: 0.05em;
					}

		/* Box */

			.box {
				padding: 15px 15px 15px 15px;
				margin: 0;
			}

				.box.feature {
					margin-bottom: 0.7em;
					padding: 0;
					border-radius: 5px;
					height: auto;
									}

					.box.feature .inner {
						padding: 30px 15px 30px 15px;
					}

					.box.feature p {
						margin-bottom: 0.9em;
				line-height: 1.7em;
					}

					.box.feature .image {
						position: relative;
						margin: 0;
					}

						img {
							height: auto;
    max-width: 100%;
						}

		/* Widgets */

			.widget.thumbnails .image {
				margin: 0;
			}

			.widget.thumbnails .x {
				padding: 1em 0.5em 0 0;
			}

			.widget.thumbnails .y {
				padding: 1em 0 0 0.5em;
			}

			.widget.thumbnails .row:first-child .x, .widget.thumbnails .row:first-child .y {
				padding-top: 0;
			}

		/* Wrappers */

			#header-wrapper {
				padding: 3em 0 1.5em 0;
			}

			#banner-wrapper {
				padding: 0 15px 0 15px;
			}

			#features-wrapper {
				padding: 0 15px 40px 15px;
			}

			#main-wrapper, #footer-wrapper {
				padding: 40px 30px 40px 30px;
			}

		/* Logo */

			#logo h1 {
				font-size: 2.75em;
				padding: 0.2em 0.275em;
			}

			#logo span {
				line-height: 3em;
			}

		/* Banner mobile */

			#banner {
				padding: 15px 15px 15px 15px;
				margin: 0 auto !important;
			}

				#banner h1 {
					font-size: 2em;
					margin: 0.75em 0 0.5em 0;
				}
				#banner h2 {
					font-size: 1.5em;
					margin: 0.75em 0 0.5em 0;
				}

				#banner p {
					font-size: 1.3em;
					line-height: 1.5em;
					margin: 0;
				}

				#banner ul {
					margin: 0;
				}
		#banner ul {
    margin: 20px 0 20px 20px;
}

				#banner .button {
					margin: 0 0 1em 0;
				}
				.button-solid, .button-outline {
					font-size: 0.8em;
				}

		/* Content */

			#content {
				padding-bottom: 3em;
			}
			.hidemobile {
	display: none;
}
	.overlay {
		height: auto;
	}
	.textcentermobile {
		margin: 0 auto;
		text-align: center;
	}
		.pricingsection {
			width: 85%;
		}
		}
	.jumbo {
		font-size: 3em;
		text-align: center;
		margin-bottom: 1em;
	}
		.city-section {
			background: #ec0038;
		}
		.heightimg {
	height: auto;
}
		

		/* Footer */

			#footer section {
				margin-bottom: 1em !important;
			}

			#copyright {
				text-align: center;
			}

	
.table-responsive {
	overflow-x: auto;
	border-radius: 4px;
	-webkit-overflow-scrolling: touch
}


@media (max-width:575.98px) {
	.table-responsive-sm {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
	.table {
    
    width: 100% !important;
}
	.table td {
	color: #5F6368;
	background: #fff;
	border-bottom: 1px solid #DFDFDF;
}
.table th {   
    text-align: center;
	color: #ec0038;
	
}
	.colored-section {
		padding: 1em;
	}
}

@media (max-width:767.98px) {
	.table-responsive-md {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
}

@media (max-width:991.98px) {
	.table-responsive-lg {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
}

@media (max-width:1199.98px) {
	.table-responsive-xl {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
}

@media (max-width:1659.98px) {
	.table-responsive-xxl {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
}

@media (max-width:1899.98px) {
	.table-responsive-xxxl {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
}
}
	.table {    
    min-width: 38rem !important;
	margin: 0 auto !important;
    margin-bottom: 1rem;
    color: #1d1d1d;
    /* vertical-align: top; */
    border-color: #dae0ec;
	background: #fff;
}
.table td {
	color: #5F6368;
	background: #fff;
	border-bottom: 1px solid #DFDFDF;
}
.table th {   
    text-align: center;
	color: #ec0038;
	
}
.form-control-lg {
    min-height: calc(1.5em + 1rem + 2px);
    padding: .5rem;
    font-size: 1.09375rem;
    border-radius: 0;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #898989;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #707070;
    appearance: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0;
    /*border-width: 0 0 1px;*/
	margin-bottom: 1rem;
}

.textwhite {
	color: #fff;
}
.greybg {
    background: #F8F9FA;
    background-clip: content-box;
    padding-top: 2rem;
}

.whitebg {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
}
input[type=text], select, textarea {
  width: 100%;
    padding: 3px 10px;
    border: 1px solid #B7CBCC;
    border-radius: 3px;
    resize: vertical;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    height: 44px;
    vertical-align: middle;
}
.circle-img {
    border-radius: 50%;
}
.circle {
  border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 7px 10px;
    background: #fff;
    border: 3px solid #1C191F;
    color: #1C191F;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  position: relative;
    display: inline-block;
    background: #ec0038;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 400;
    font-size: 1em;
    padding: 0.5em 1.8em;
    letter-spacing: 0.02em;
    float: right;
}

input[type=submit]:hover {
  background-color: #000;
}

div.dataTables_length {
	width: 80px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.col-33-center {
  width: 33%;
}
.col-75-center {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #707070 transparent transparent transparent;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
    form label {
        margin: 1em 0 -1.8em 0;
    }
}
/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #DFDFDF;
  background-color: #fff;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 22px;
  transition: 0.3s;
  font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #fff;
    border-bottom: 2px solid #EC0038;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 2rem;
  border: none;
    background: #fff;
    margin-top: 2.5rem;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
}
.content-box {
    background-clip: content-box;
}
.footerlinks {
    font-size: 14px;
}
.footerlinks ul {
	padding: 0;
    list-style-type: none;
    margin: 1rem 0;
}
.footerlinks li {
	display: inline;
    margin: 0 1rem;
}
.footerlinks a {
	color: #B7CBCC;
	text-decoration: none;
        font-size: 0.875em;
}
.footerlinks a:hover {
	text-decoration: underline;
}
.footerlinks {
    font-size: 14px;
}
.social ul {
	padding: 0;
    list-style-type: none;
    margin: 1rem 0;
}
.social li {
	display: inline;
    margin: 0 1rem;
}
.social a {
	color: #B7CBCC;
	text-decoration: none;
}
.social a:hover {
	color: #fff;
}
.border1 {
    border: 1px solid #8E9FAF;
    border-radius: 3px;
    font-weight: 500;
}
.border1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: auto; */
    object-fit: cover;
}
.minheight1 {
    min-height: 240px;
}
.bolder {
    font-weight: 600;
}

.fa-star {
    color: #D2D2D2;
}
.checked {
    color: #FFC107;
}
.vmiddle {
    vertical-align: middle;
}
.inputContainer i {
   position: absolute;
}
.inputContainer {
   width: 100%;
   margin-bottom: 10px;
}
.searchicon {
   padding: 15px;
   color: #A4A4A4;
   text-align: left;
}
.Field {
   width: 100%;
   padding-left: 40px !important;
   font-size: 16px;
   font-weight: 400;
    
}