@media(min-width:1351px) and (max-width:1620px){
	.main-sidebar-body ul li a img{margin: 0;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a img{margin: 0 auto;}


	.dash-box-in h3{font-size: 14px;}
	.dash-box-in h2{font-size: 20px;}
	.dash-icbx{height: 45px;width: 45px;}
	.dash-icbx img{width: 70%;}
	/*.dash-action-lst ul{display: flex;}
	.dash-action-lst ul li{max-width: 33.33%;flex: 0 0 33.33%;}
	.dash-action-lst ul li .dash-box-in{margin: 0 0 30px;}*/
}

@media(min-width:1200px) and (max-width:1350px){
	.dashboard-wrpper .main-sidebar-body ul li a span{visibility: hidden;opacity: 0;display: none;}
	.dashboard-wrpper .main-sidebar-body ul li a i{margin: 0;width: 100%;font-size: 20px;}
	.dashboard-wrpper .left-sidebar{width: 80px;}
	.dashboard-wrpper .right-sldier{padding: 120px 0 0 80px;}

	.dashboard-wrpper.expand-menu-open .left-sidebar{width: 280px;}
	.dashboard-wrpper.expand-menu-open .right-sldier{padding: 120px 0 0 280px;}
	.dashboard-wrpper.expand-menu-open .left-sidebar{width: 280px;left: 0;z-index: 99;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a i{width: 30px;margin-right: 10px;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a span{visibility: visible;opacity: 1;display: block;}
	.top-header .left-links li{margin: 0 20px 0 0;font-size: 13px;}
	.dash-box-in h3{font-size: 14px;}
	.dash-box-in h2{font-size: 20px;}
	.dash-icbx{height: 45px;width: 45px;}
	.dash-icbx img{max-width: 100%;}

	.main-sidebar-body ul li a img{margin: 0 auto;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a img{margin: 0;}
}

@media(min-width:1025px) and (max-width:1199px){
	.left-sidebar{left: -100%;}
	.right-sldier{padding: 120px 0 0;}
	.dashboard-wrpper.expand-menu-open .right-sldier{padding: 120px 0 0 280px;}
	.dashboard-wrpper.expand-menu-open .left-sidebar{width: 280px;left: 0;z-index: 99;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a i{width: 30px;margin-right: 10px;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a span{visibility: visible;opacity: 1;display: block;}
	.mainSidebarToggle{position: relative;z-index: 99;}
	.left-sidebar{padding: 140px 0 0;}

	.top-header .left-links li{font-size: 12px;margin: 0 10px 10px 0;}
	.top-header .left-links li img{width: 20px;}
	.dash-action-lst ul li{max-width: unset;flex:auto;width: 33.33%;}
	.dash-box-in h3{font-size: 12px;}
	.dash-action-lst ul li .dash-box-in{margin: 0 0 20px;}
	.pro-hedbing h3{display: block;margin: 0 0 15px;}
	.center-main-blocker{padding: 20px;}

	.mobile-nav-toggle{top: 20px;position: absolute;}
	.protable-wrp .table tbody tr td p .delete-table{margin: 5px 0 0;}
	.pad-l{padding-left: 290px;}

	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a img{margin: 0;}	
}

@media(min-width:992px) and (max-width:1024px){
	.left-sidebar{left: -100%;}
	.right-sldier{padding: 120px 0 0;}
	.dashboard-wrpper.expand-menu-open .right-sldier{padding: 120px 0 0 280px;}
	.dashboard-wrpper.expand-menu-open .left-sidebar{width: 280px;left: 0;z-index: 99;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a i{width: 30px;margin-right: 10px;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a span{visibility: visible;opacity: 1;display: block;}
	.mainSidebarToggle{position: relative;z-index: 99;}
	.left-sidebar{padding: 140px 0 0;}

	.top-header .left-links li{font-size: 12px;margin: 0 10px 10px 0;}
	.top-header .left-links li img{width: 20px;}
	.dash-action-lst ul li{max-width: unset;flex:auto;width: 33.33%;}
	.dash-box-in h3{font-size: 12px;}
	.dash-action-lst ul li .dash-box-in{margin: 0 0 20px;}
	.pro-hedbing h3{display: block;margin: 0 0 15px;}
	.center-main-blocker{padding: 20px;}

	.mobile-nav-toggle{top: 20px;position: absolute;}
	.protable-wrp .table tbody tr td p .delete-table{margin: 5px 0 0;}
	.pad-l{padding-left: 290px;}

	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a img{margin: 0;}
}

@media(min-width:768px) and (max-width:991px){
	.left-sidebar{left: -100%;}
	.right-sldier{padding: 0;}
	.dashboard-wrpper.expand-menu-open .right-sldier{padding: 0;}
	.dashboard-wrpper.expand-menu-open .left-sidebar{width: 350px;left: 0;z-index: 99;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a i{width: 30px;margin-right: 10px;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a span{visibility: visible;opacity: 1;display: block;}
	.mainSidebarToggle{position: relative;z-index: 99;}
	.left-sidebar{padding: 60px 0 0;}

	.top-header .left-links li{font-size: 12px;margin: 0 10px 10px 0;}
	.top-header .left-links li img{width: 20px;}
	.admin-info{padding: 0 60px 0 0; }
	.dash-action-lst ul li{max-width: unset;flex:auto;width: 33.33%;}
	.dash-box-in h3{font-size: 12px;}
	.dash-action-lst ul li .dash-box-in{margin: 0 0 20px;}
	.pro-hedbing h3{display: block;margin: 0 0 15px;}
	.center-main-blocker{padding: 20px;}

	.mobile-nav-toggle{top: 20px;position: absolute;}
	.protable-wrp .table tbody tr td p .delete-table{margin: 5px 0 0;}

	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a img{margin: 0;}
}

@media(min-width:576px) and (max-width:767px){
	.left-sidebar{left: -100%;}
	.right-sldier{padding: 0;}
	.dashboard-wrpper.expand-menu-open .right-sldier{padding: 0;}
	.dashboard-wrpper.expand-menu-open .left-sidebar{width: 350px;left: 0;z-index: 99;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a i{width: 30px;margin-right: 10px;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a span{visibility: visible;opacity: 1;display: block;}
	.mainSidebarToggle{position: relative;z-index: 99;}
	.left-sidebar{padding: 60px 0 0;}

	.top-header .left-links li{font-size: 16px;margin: 0 20px 15px 0;}
	.admin-info{justify-content: center;margin: 10px 0 0;}
	.dash-action-lst ul li{max-width: unset;flex:auto;width: 50%;}
	.dash-box-in h3{font-size: 12px;}
	.dash-action-lst ul li .dash-box-in{margin: 0 0 20px;}
	.pro-hedbing h3{display: block;margin: 0 0 15px;}
	.center-main-blocker{padding: 20px;}

	.mobile-nav-toggle{top: 20px;position: absolute;}
	.protable-wrp .table tbody tr td p .delete-table{margin: 5px 0 0;}

	.information-tbl .table tbody tr td:nth-child(2),
	.information-tbl .table tbody tr td:nth-child(2){min-width: 350px;}

	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a img{margin: 0;}
}

@media(min-width:448px) and (max-width:575px){
	.left-sidebar{left: -100%;}
	.right-sldier{padding: 0;}
	.dashboard-wrpper.expand-menu-open .right-sldier{padding: 0;}
	.dashboard-wrpper.expand-menu-open .left-sidebar{width: 350px;left: 0;z-index: 99;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a i{width: 30px;margin-right: 10px;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a span{visibility: visible;opacity: 1;display: block;}
	.mainSidebarToggle{position: relative;z-index: 99;}
	.left-sidebar{padding: 60px 0 0;}

	.top-header .left-links li{font-size: 16px;margin: 0 20px 15px 0;}
	.admin-info{justify-content: center;margin: 10px 0 0;}
	.dash-action-lst ul li{max-width: unset;flex:auto;width: 50%;}
	.dash-box-in h3{font-size: 12px;}
	.dash-action-lst ul li .dash-box-in{margin: 0 0 20px;}
	.pro-hedbing h3{display: block;margin: 0 0 15px;}
	.center-main-blocker{padding: 20px;}

	.mobile-nav-toggle{top: 20px;position: absolute;}
	.protable-wrp .table tbody tr td p .delete-table{margin: 5px 0 0;}


	.information-tbl .table tbody tr td:nth-child(2),
	.information-tbl .table tbody tr td:nth-child(2){min-width: 350px;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a img{margin: 0;}
}

@media(max-width:447px){
	.left-sidebar{left: -100%;}
	.right-sldier{padding: 0;}
	.dashboard-wrpper.expand-menu-open .right-sldier{padding: 0;}
	.dashboard-wrpper.expand-menu-open .left-sidebar{width: 350px;left: 0;z-index: 99;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a i{width: 30px;margin-right: 10px;}
	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a span{visibility: visible;opacity: 1;display: block;}
	.mainSidebarToggle{position: relative;z-index: 99;}
	.left-sidebar{padding: 60px 0 0;}

	.top-header .left-links li{font-size: 16px;margin: 0 20px 15px 0;}
	.admin-info{justify-content: center;margin: 10px 0 0;}
	.dash-action-lst ul li{max-width: unset;flex:auto;width: 50%;}
	.dash-box-in h3{font-size: 12px;}
	.dash-action-lst ul li .dash-box-in{margin: 0 0 20px;}
	.pro-hedbing h3{display: block;margin: 0 0 15px;}
	.center-main-blocker{padding: 20px;}

	.mobile-nav-toggle{top: 20px;position: absolute;}

	.protable-wrp .table tbody tr td p .delete-table{margin: 5px 0 0;}


	.information-tbl .table tbody tr td:nth-child(2),
	.information-tbl .table tbody tr td:nth-child(2){min-width: 350px;}

	.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a img{margin: 0;}
}