@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
}

a:hover,
a:focus,
a:active{
    text-decoration: none;
}
ol, ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
}

/* **** Main Wrpper **** */
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #1A237E;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #6148BF;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.fix-dashheader{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 120;
}
.topbar {
  background: #FFF6E9;
  font-size: 12px;
  padding: 0px 0px;
  color: rgba(255, 255, 255, 0.8); 
}

.topbar2 {
  background: #1A237E;
  font-size: 12px;
  padding: 0;
  color: rgba(255, 255, 255, 0.8); 
  position: fixed; width: 100%; margin-top:0px; z-index: 11;
}

.topbar .container1{justify-content: space-between;
    }


.topbar .contact-info ul, .top-main ul{
  padding: 0; 
  margin: 0;
  list-style: none; 
}

.topbar .contact-info li {
  float: left;
    /* padding-top: 6px;*/
 position: relative;
 
}

.topbar .contact-info li + li {
  margin-left: 18px;color: #1A237E;
}

.topbar .top-main li + li {
  margin-left: 18px;color: #1A237E; 
}

.topbar .contact-info a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  color: #1A237E;
 
}

.topbar .contact-info a:hover {
  color: #fff;
}

.topbar .contact-info i {
  color: #1A237E;
  padding-right: 12px;
  font-size: 25px;
  margin-top: 22px;
  position: relative;  
  float: left;
}
.contact-info p{font-weight: 700;padding-top: 3px;}
.contact-info .dropdown-menu{z-index: 9999;}

.user-name{ float: left; padding-left: 25px;}


.number5{
  padding: 5px 5px;
  position:absolute;
  right:0;
  top:-17%;
  content: attr(data-count);
  font-size:15px;
  border-radius:999px;
  line-height:7px;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  font-weight: normal;
}


  .dropdown:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
.dropdown-menu {
    z-index: 1;
    width: 400px;
    left: -110%;
    right: auto;
}

.menu-line{width: 100%; height: auto; padding: 0px 15px;}
.menu-line strong{font-weight: 600; color: #000;display: inherit;}
.nav-link{padding:0px 15px; width: 100%;}
.nav-link h2{font-size: 15px; color: #1A237E;}
.nav-link p{font-size: 12px; color: #1A237E; margin-bottom:0px;}
.menu-line ul{width: 45%; float: left; display: block; border-right: 1px solid #eee; margin-right: 10px !important;}
.topbar .contact-info li .menu-line ul li{padding: 5px 0px; margin: 0px; width: 100%;}
.menu-line ul li a{width: 100%; height: auto; margin-bottom: 10px; font-size: 14px;}

.dropdown-menu a{color: #000 !important;}
/*.icofont-bell-alt[data-count]:after{
  position:absolute;
  right:6%;
  top:0%;
  content: attr(data-count);
  font-size:50%;
  padding:.4em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}*/

.topbar .cta{padding: 0;}

.topbar .cta a {
  color: #1A237E;  
  /*background: #1A237E;*/
  font-weight: 700;
 padding: 13px 10px;
    
  display: inline-block;
  transition: 0.3s;
}


.topbar .cta a:hover {
  background: #1A237E;
  color: #fff;
}

.topbar .contact-info .search-form form input[type="email"] {
    border: 0;
    padding: 4px 8px;

    width: calc(100% - 100px); 
}

.topbar .logo{padding: 0px 20px; }

.category-icon-shopper{color: darkred; float: right; font-weight: bold; font-size: 14px; font-style: italic;padding-bottom: 1px;display: flex;}
.category-icon-business{color:orangered; float: right; font-weight: bold; font-size: 14px; font-style: italic;padding-bottom: 1px;}

.topbar .location{ color: #1A237E;
padding-top:6px;
  padding-right: 4px;
  font-size: 13px;   }

.topbar .form-control{width: 40% !important; padding:2px 10px;margin: 0;height: 38px;}

.topbar .form-inline{ width: 60%;}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  height: 40px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
 /* background: #1A237E;*/
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 8px 0;
  line-height: 1;
  font-weight: 700;
  
  font-family: "Open Sans", sans-serif;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #1A237E;
  text-decoration: none;
}

#header a:link{color: #fff;}

#header a:active{color: #fff;}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px; 
}

#main {
  z-index: 3; 
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  text-decoration: underline;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
  border-radius: 8px;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: lightne(#473d3a, 10);
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #ff5821;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}




.pad-l{padding-left: 470px;}
@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 8px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #ff5821;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #473d3a;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #ff5821;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(43, 37, 35, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.left-sidebar {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    box-shadow: none;
    padding: 130px 0 0;
    width: 300px;
    background-color: #fff6e9;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.main-sidebar-body .nav-tabs{
  border: none;
}
.main-sidebar-body ul{
  display: block;
}
.main-sidebar-body .nav-tabs .nav-link{
    padding: 10px 15px 10px 15px;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.main-sidebar-body ul li a span{
  padding-left: 15px;
}

.main-sidebar-body .nav-tabs .nav-link .tab-img{
    position: relative;
    height: 20px;
    width: 20px;
}
.main-sidebar-body .nav-tabs .img2{
  opacity: 0;
}

.main-sidebar-body .nav-tabs .nav-link img{
    line-height: 0;
    margin: 0;
    width: 20px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0
}
.main-sidebar-body .nav-tabs .nav-link.active,
.main-sidebar-body .nav-tabs .nav-link:hover{
    background-color: #1a237e;
    color: #fff;
}

.main-sidebar-body ul li a:hover .img1{
    opacity: 0;
}
.main-sidebar-body ul li a:hover .img2{
    opacity: 1;
}

.main-sidebar-body .nav-tabs .nav-item.show .nav-link, 
.main-sidebar-body .nav-tabs .nav-link.active{
 background-color: #1a237e;
    color: #fff; 
}
.main-sidebar-body .nav-tabs .nav-item.show .nav-link .img2, 
.main-sidebar-body .nav-tabs .nav-link.active .img2{
  opacity: 1;
}


.right-sldier{
    padding: 120px 0 0 300px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.top-header{
    padding: 10px 15px 10px ;
    border-bottom: 1px solid #e1e6f1;
}

.top-header .left-links li{
    display: inline-block;
    margin: 0 40px 0 0;
    font-size: 20px;
    font-weight: 500;
    color: #6148bf;
}
.top-header .left-links li:last-child{
    margin: 0;
}
.top-header .left-links li img{
    display: inline-block;
    margin: 0 10px 0 0;
}

.mainSidebarToggle {
    background: #d5d9dc;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: #000;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.admin-info{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.admin-info li{
    display: inline-block;
}
.admin-info li:first-child{
    width: 50%;
}
.admin-info li .form-group{
    margin: 0;
    position: relative;
}
.admin-info li .form-group .form-control{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    outline: none;
    box-shadow: none;
    border-radius: 4px;
    border:1px solid #dddddd;
    height: auto;
    padding: 10px 35px 10px 15px;
}

.admin-info li .form-group button{
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: transparent;
    font-size: 15px;
    color: #000;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.admin-info .dropdown-toggle::after{
    display: none;
}
.admin-info .notification-drop .dropdown-toggle{
    font-size: 20px;
    color: #4a4d51;
    cursor: pointer;
    line-height: .10;
    padding: 10px 12px;
    border-radius: 10px;
    margin: 0 10px 0 40px;
    background: #d5d9dc;
    outline: none;
    box-shadow: none;
}
.admin-info .notification-drop .dropdown-toggle:focus{
    box-shadow: none;
    outline: none;
}
.admin-info .user-drop .dropdown-toggle{
    height: 43px;
    width: 43px;
    padding: 0;
    outline: none;
    box-shadow: none;
    border-radius: 10px;
}
.admin-info .user-drop .dropdown-toggle:focus{
    box-shadow: none;
    outline: none;
}
.admin-info .user-drop .dropdown-toggle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 11px;
}

.admin-info .dropdown-menu{
    left: auto!important;
    right: 0 !important;
    width: 220px;
   
    bottom: auto;
    padding: 0;
    border: 0;
    border-width: 1px;
    box-shadow: -8px 12px 18px 0 rgb(21 21 62 / 30%);
    border-radius: 11px;
}
.avatar {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius:11px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}
.main-header-right .main-header-notification .notifications-menu .avatar {
    border-radius: 11px;
    background-color: #1a237e;
}
.avatar-md {
    min-width: 40px;
    min-height: 40px;
    font-size: 24px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: #fff;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #1A237E;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #ff5821;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #ffe2d9;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ff5821;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #1A237E;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #313030;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1A237E;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:last-child{margin: 0;}

#footer .social-links a:hover {
  background: #ff5821;
  color: #fff;
  text-decoration: none;
}
/* **** End Main Wrpper **** */

/* **** Dashboard **** */
.center-main-blocker{
    padding: 35px;
}
.dash-action-lst ul{
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 30px;
}
.dash-action-lst ul li{
    padding: 0 10px;
    -ms-flex: 0 0 16.66%;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}
.dash-action-lst ul li .dash-box-in{
    padding: 15px;
    border-radius: 10px;
    background: #242424;
    position: relative;
    min-height: 125px;
    overflow: hidden;
}
.dash-action-lst ul li .dash-box-in img.dash-shp{
    position: absolute;
    top: 18px;
    text-align: right;
    right: -17px;
    opacity: 0.8;
}
.dash-box-in h3{
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: normal;
    font-family: '';
    color: #fff;
    font-family: 'Roboto Slab';
}
.dash-box-in h2{
    margin: 0 0 5px;
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    font-family: 'Roboto Slab';
}
.dash-icbx{
    float: right;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background: #000;
    position: relative;
    display: block;
    z-index: 5;
}
.dash-icbx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.pro-had{margin: 0 0 30px;}
.pro-had .row{
    align-items: center;
}
.pro-hedbing h3{
    font-size: 22px;
    font-weight:600;
    color: #252525;
    margin: 0;
}
.sort-lst-bx ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sort-lst-bx ul li{
    margin-right: 10px;
    width: 250px;
}
.sort-lst-bx ul li:last-child{
    margin: 0;
}
.sort-lst-bx ul li .form-group{
    margin: 0;
    position: relative;
}
.sort-lst-bx ul li .form-group .form-control{
    padding: 10px 35px 10px 45px;
    border-radius: 5px;
    color: #252525;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #b1b1b1;
    height: auto;
    box-shadow: none;
}
.sort-lst-bx ul li .form-group .sort-ic{
    width: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}
.sort-lst-bx ul li .form-group .sort-ic:after{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: #b1b1b1;
    right: 0;
    top: 0;
}
.sort-lst-bx ul li .form-group .sort-ic img{
    margin: 0 auto;
    width: 20px;
}
select.form-control {
    width: 100%;
    margin: 0 0;
    -webkit-appearance: none;
    background-image: url(../images/downic.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center right 15px;
}

/* **** table dash **** */
.protable-wrp .table{
  border: 1px solid #d7d7d7!important;
}
.protable-wrp .table thead tr th{
  background-color: #242424;
  color: #fff!important;
}
.protable-wrp .table tbody tr td p,
.protable-wrp .table thead tr th p{
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
}
.protable-wrp .table-bordered th{
  border-color: #3a3a3a!important;
}
.protable-wrp .table tbody tr td{
  padding: 6px 10px;
}
.protable-wrp .table tbody tr td p,
.protable-wrp .table tbody tr td p a{
  color: #6f6f6f!important;
}
.protable-wrp .table tbody tr td p .delete-table,
.protable-wrp .table tbody tr td p .edit-table{
  color: #000!important;
  font-size: 18px;
}
.protable-wrp .table tbody tr td p .delete-table{
  margin-left: 5px;
}
.tab-img img{
  border-radius: 6px;
}
/* **** End table dash **** */
/* **** popup products **** */
.int-btn{
  padding: 3px 10px;
  width: 91px;
  height: 28px;
  color: white;
  position: relative;
  top: 5px;
  left: 6px;
  border: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
  background-color: #1a237e;
  border-radius: 5px;
  cursor: pointer;
}
.int-btn:hover{
  background-color: #333;
}

.int-text{
  position: relative;
  top: 5px;
  margin-left: 20px;
  font-family: sans-serif;
  color: #aaa;
}

.prd-pop-details h4{
  font-size: 20px;
  font-weight: normal;
  color: #6148bf;
}
.prd-pop-details p{
  font-size: 16px;
  font-weight: normal;
  color: #919191;
}
.prd-pop-details .file-upd{
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  height: 40px;
}
.prd-pop-details .form-control{
  font-size: 16px!important;
  font-weight: bold!important;
  color: #919191!important;
  border-radius: 4px;
  height: 40px;
}
.prd-pop-details textarea.form-control{
  resize: none;
  height: 93px;
}

.prd-pop-details .btn-main{
  width: 110px;
  height: 34px;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  margin: 0 auto;
  display: table;
  background-color: #6148bf;
  transition: all 0.4s ease;
}
.prd-pop-details .btn-main:hover{
  background-color: #333;
}
/* **** End popup products **** */
/* **** End Dashboard **** */

.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a span{
    visibility: hidden;
    opacity: 0;
    display: none;
}
.dashboard-wrpper.expand-menu-open .main-sidebar-body ul li a img{
    margin: 0 auto;
}
.dashboard-wrpper.expand-menu-open .left-sidebar{
  width: 80px;
}
.dashboard-wrpper.expand-menu-open .right-sldier{
    padding: 120px 0 0 80px;
}



.dashboard-wrpper .btn-primary{
  background-color: #1a237e;
  border-color: #1a237e;
}



.topbar .dropdown-toggle::after{
  display: none;
}