/*Color variables*/
/*gray variables*/
/*white variables*/
/*black variables*/
.main-content.side-content {
    -webkit-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
}

.sidemenu-label {
    -webkit-transition: margin-left 0.45s ease;
    transition: margin-left 0.45s ease;
}

.side-menu .nav-link:hover {
    color: #ffffff;
}

.side-menu .nav-link:hover .sidemenu-label {
    margin-left: 5px;
    -webkit-transition: margin-left 0.45s ease;
    transition: margin-left 0.45s ease;
}

.side-menu .nav-item {
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    margin: 6px 0;
}

.side-menu .nav-sub {
    display: none;
}

.side-menu .nav-item.show>.nav-sub {
    display: block !important;
}

.iconbtn {
    display: none;
}

.side-menu i.angle {
    -webkit-transform-origin: center;
    transform-origin: center;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 12px;
}

.side-menu .nav-item.show i.angle {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 12px;
}

.side-badge,
.main-sidebar-open.main-sidebar-hide .side-badge {
    position: absolute;
    top: 12px;
    right: 18px;
    border-radius: 50px;
}

.main-sidebar-hide .side-badge {
    position: absolute;
    top: 0px;
    right: 27px;
    border-radius: 50px;
    z-index: 4;
}

.sidemenu-logo {
    padding: 13.4px 32px;
    border-bottom: 1px solid #222;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    margin: 0 auto;
    background: #fff6e9;
    height: 60px;
    border-right: 1px solid rgba(240, 240, 255, 0.1);
    -webkit-transition: left 0.3s ease, width 0.3s ease;
    transition: left 0.3s ease, width 0.3s ease;
    width: 240px;
}



@media (max-width: 991px) {
    .main-sidebar-show .sidemenu-logo {
        display: none;
    }
}

.side-menu .header-brand-img {
    margin-top: 0 !important;
    outline: 0;
}

.sidemenu-height {
    min-height: 72.5vh;
}

.main-footer {
    -webkit-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
}

@media (min-width: 1200px) {
    .side-content {
        margin-left: 240px;
    }
}

@media (min-width: 992px) {
    .side-header .main-logo {
        color: inherit;
        margin-right: 0;
        font-size: 1.25rem;
        white-space: nowrap;
        font-weight: 600;
        padding: 0;
        -webkit-transition: .3s opacity;
        transition: .3s opacity;
        line-height: 2.9rem;
        text-align: center;
        text-align: center;
    }

    .main-sidebar-hide .side-header,
    .main-sidebar-hide .main-footer {
        padding-left: 70px;
    }

    .main-body .side-header {
        position: fixed;
        width: 100%;
        z-index: 10 !important;
        border-bottom: 1px solid #e1e6f1;
        -webkit-box-shadow: none;
        box-shadow: none;
        left: 0;
        padding-left: 240px;
    }

    .main-body.main-sidebar-hide .side-header {
        padding-left: 75px;
    }

    .main-sidebar-hide .sidemenu-logo {
        padding: 8px 6px 6px 6px;
        border-bottom: 1px solid rgba(240, 240, 255, 0.1);
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 60px;
        width: 80px;
        border-right: 0;
    }

    .main-sidebar-hide.main-sidebar-open .sidemenu-logo {
        padding: 13.4px;
        border-bottom: 1px solid rgba(240, 240, 255, 0.1);
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 240px;
    }

    .main-content.side-content {
        margin-left: 240px;
    }

    .main-sidebar.side-menu {
        width: 240px;
    }

    .main-footer {
        margin-left: 0;
    }
}

@media (max-width: 992px) and (min-width: 767px) {
    .main-header-menu-icon {
        margin: 0px;
    }
}

@media (max-width: 767px) {
    .main-header-menu-icon {
        margin: 0px;
    }

    .side-header .icon-logo {
        margin-left: 0;
    }

    .main-sidebar-show .side-menu {
        top: 60px !important;
    }
}

@media (min-width: 768px) {

    /*main-sidebar-hide*/
    .main-sidebar-hide .side-menu {
        left: 0;
        width: 80px;
        display: block;
        visibility: visible;
    }

    .main-sidebar-hide .main-content.side-content {
        margin-left: 80px;
    }

    .main-sidebar-hide .nav-label,
    .main-sidebar-hide .main-sidebar-body .sub-txt {
        display: none;
    }

    .main-sidebar-body .nav-label-1 {
        height: 28px;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .5px;
        color: #ffffff;
        padding: 0;
        background: #07a7bb;
        width: 28px;
        border-radius: 50%;
        text-align: center;
        margin: 3px 11px;
        line-height: 2.1;
    }

    .main-sidebar-hide .nav-header {
        margin: 0;
    }

    .main-sidebar-hide.main-sidebar-open .nav-header {
        margin: 0 0 0 15px;
    }

    .main-sidebar-hide .sidemenu-label {
        display: none;
        font-size: 10px;
    }

    .main-sidebar-hide .nav-item {
        width: 100%;
    }

    .main-sidebar-hide .text-icon {
        display: none;
    }

    .main-sidebar-hide .iconbtn {
        display: block;
    }

    .main-sidebar-hide .main-sidebar-body i.angle {
        display: none;
    }

    .main-sidebar-hide .side-menu .nav-link {
        margin: 10px auto;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 0;
    }

    .main-sidebar-hide .main-sidebar-body .nav-item {
        margin-top: -1px;
        text-align: center;
    }

    .main-sidebar-hide .main-sidebar-body .nav-item+.nav-item {
        margin-top: -1px;
        text-align: center;
        margin: 0px;
    }

    .main-sidebar-hide .side-menu .main-logo .desktop-logo {
        display: none;
    }

    .main-sidebar-hide .side-menu .main-logo .icon-logo {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .main-sidebar-hide .side-menu .header-brand-img {
        margin-top: 0 !important;
    }

    .main-sidebar-hide .main-sidebar-body .nav-item.show>.nav-sub {
        display: none !important;
    }

    .main-sidebar-hide .main-footer {
        margin-left: 0;
    }

    .main-sidebar-hide .side-menu .main-sidebar-body .nav-link i {
        font-size: 20px;
    }

    .main-sidebar-hide .side-menu i.angle {
        font-size: 12px !important;
    }

    /*main-sidebar-open*/
    .main-sidebar-open .side-menu {
        left: 0;
        width: 240px;
    }

    .main-sidebar-open .nav-label {
        display: block;
    }

    .main-sidebar-open .main-sidebar-body .sub-txt {
        display: block;
    }

    .main-sidebar-open .main-sidebar-body .nav-label {
        text-transform: uppercase;
        font-size: 11.49px;
        font-weight: 500;
        letter-spacing: .5px;
        color: rgba(255, 255, 255, 0.3);
        padding: 10px 0px 0 0;
    }

    .main-sidebar-open .main-sidebar-body .sub-txt {
        font-size: 10.9px;
        padding: 0 0px 0 0;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 0;
    }

    .main-sidebar-open .sidemenu-label,
    .main-sidebar-open .text-icon {
        display: block;
    }

    .main-sidebar-open .iconbtn {
        display: none;
    }

    .main-sidebar-open .main-sidebar-body i.angle {
        display: block;
    }

    .main-sidebar-open .side-menu .nav-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .main-sidebar-open .main-sidebar-body .side-menu .nav-link {
        margin-left: 10px;
    }

    .main-sidebar-open .side-menu .nav-link {
        margin-bottom: 0px;
        padding: 0 0 0 0;
    }

    .main-sidebar-open .sidemenu-label {
        font-size: 14px;
    }

    .main-sidebar-open .side-menu .main-logo .desktop-logo {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .main-sidebar-open .side-menu .main-logo .icon-logo {
        display: none;
    }

    .main-sidebar-open .main-sidebar-body .nav-item.show>.nav-sub {
        display: block !important;
    }

    .main-sidebar-open .side-menu .nav-item.show i.angle {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        top: 16px;
        right: 10px;
    }

    .main-sidebar-open .side-menu .main-sidebar-body .nav-link i {
        margin-right: 5px;
        font-size: 18px;
    }

    .main-sidebar-open .side-menu i.angle {
        font-size: 12px;
    }
}

*::-ms-backdrop,
.side-header {
    position: relative !important;
}

.main-header .select2-container .select2-selection--single .select2-selection__rEndered {
    display: block;
    padding-left: 17px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-sidebar .nav-sub-item.active .nav-sub-link {
   /* color: #000;*/
}

@media (min-width: 768px) {
    .color-leftmenu.main-sidebar-hide .side-menu .main-logo .desktop-logo {
        display: none !important;
    }

    .color-leftmenu.main-sidebar-hide .side-menu .main-logo .icon-logo {
        display: block !important;
        margin: 0 auto;
        text-align: center;
    }

    .leftmenu.color-leftmenu.main-sidebar-hide .header-brand-img.icon-logo.theme-logo {
        display: none !important;
    }

    .color-leftmenu.main-sidebar-hide .header-brand-img.desktop-logo.theme-logo,
    .color-leftmenu.main-sidebar-hide .header-brand-img icon-logo theme-logo {
        display: none !important;
    }

    .color-leftmenu.leftmenu.main-sidebar-hide.main-sidebar-open .header-brand-img.icon-logo {
        display: none !important;
    }

    .color-leftmenu.leftmenu.main-sidebar-hide.main-sidebar-open .header-brand-img.icon-logo.theme-logo {
        display: block !important;
        display: none !important;
    }

    .color-leftmenu.main-sidebar-hide.main-sidebar-open .side-menu .main-logo .desktop-logo {
        display: block !important;
    }

    .color-leftmenu.main-sidebar-hide.main-sidebar-open .main-logo .header-brand-img.desktop-logo.theme-logo {
        display: none !important;
    }

    .light-leftmenu.leftmenu .header-brand-img.desktop-logo {
        display: none !important;
    }

    .light-leftmenu.leftmenu .header-brand-img.desktop-logo.theme-logo {
        display: block !important;
    }

    .leftmenu.light-leftmenu.main-sidebar-hide .header-brand-img.icon-logo {
        display: none !important;
    }

    .leftmenu.light-leftmenu.main-sidebar-hide .header-brand-img.desktop-logo {
        display: none !important;
    }

    .leftmenu.light-leftmenu.main-sidebar-hide .header-brand-img.desktop-logo.theme-logo {
        display: none !important;
    }

    .leftmenu.light-leftmenu.main-sidebar-hide .header-brand-img.icon-logo.theme-logo {
        display: block !important;
    }

    .leftmenu.light-leftmenu.main-sidebar-hide.dark-theme .header-brand-img.icon-logo.theme-logo {
        display: block !important;
    }

    .leftmenu.light-leftmenu.main-sidebar-hide.dark-theme .header-brand-img.desktop-logo.theme-logo {
        display: none !important;
    }

    .light-leftmenu.leftmenu.main-sidebar-open .header-brand-img.desktop-logo.theme-logo {
        display: block !important;
    }

    .leftmenu.light-leftmenu.main-sidebar-hide.main-sidebar-open .header-brand-img.icon-logo.theme-logo {
        display: none !important;
    }

    .leftmenu.light-leftmenu.main-sidebar-hide.main-sidebar-open .main-sidebar-body .nav-label {
        color: #c8c4db;
    }

    .leftmenu.light-leftmenu.main-sidebar-hide.main-sidebar-open .main-sidebar-body .sub-txt {
        color: #a2a2b9;
    }

    .leftmenu.light-leftmenu.main-sidebar-hide .sidemenu-logo {
        border-bottom: 1px solid #f0f0ff;
    }
}

.main-sidebar-sticky {
    background: #fff6e9;
}

.main-sidebar-body li.nav-item.active .nav-link {
    background-color: #1a237e;
    color: #fff;
}

.main-sidebar-body li.nav-item .nav-link:hover{background: #1a237e;}


.main-sidebar-body .nav-item.active .nav-link:before,
.main-sidebar-body .nav-item.active .nav-link:after {
    border-right: 20px solid #25233c;
}

.main-sidebar-body .nav-item.active .nav-link .shape1,
.main-sidebar-body .nav-item.active .nav-link .shape2 {
    background: #eaedf7;
}

.main-sidebar {
    -webkit-transition: left 0.3s ease, width 0.3s ease;
    transition: left 0.3s ease, width 0.3s ease;
}

.main-sidebar-body .nav-sub-menu-link:before {
    content: '\e0b2';
    font-family: 'typicons';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    top: 8px;
    font-size: 12px;
    opacity: 0.4;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.main-sidebar-body .nav-sub-menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
    margin: 10px auto;
}

.side-menu .nav-sub-item.show>.sub-nav-sub {
    display: block;
}

.side-menu .sub-nav-sub {
    display: none;
    padding: 0 0 0 30px;
}

.main-sidebar-body .nav-link.sub-with-sub {
    position: relative;
}

.main-sidebar-body .nav-link.sub-with-sub:before {
    content: '\e0b2';
    font-family: 'typicons';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    top: 8px;
    font-size: 12px;
    opacity: 0.4;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.main-sidebar-body .nav-link.sub-with-sub {
    font-size: 13px;
    color: #bfbfc5;
    font-weight: 400;
}

.main-sidebar-hide.main-sidebar-open .main-sidebar-body .nav-sub .nav-sub-item .nav-link {
    padding: 0px 0px 10px 5px;
}

.main-sidebar-hide.main-sidebar-open .main-sidebar-body .nav-link.sub-with-sub i.angle {
    top: 5px;
}

@media (min-width: 768px) {
    .main-sidebar-hide.main-sidebar-open .main-sidebar-body .nav-link.sub-with-sub .sidemenu-label {
        font-size: 13px;
        color: #bfbfc5;
        font-weight: 400;
    }
}

